body {
    background-color: rgba(24,24,24,.8);
}
span {
    font-weight: 900;
}
img {
    height: 80vh;
    width: auto;
    float: left;
    margin: 0;
}
.content_video {
    position: absolute;
    bottom: 0;
}
.nameTitle {
    float: left;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3rem;
    text-align: right;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    border: 3px solid white;
    transform: translate(0, -50%) }
}