@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$black: #101010;
$green: #D9DBBC;
$greenDark: #A9ABAC;
$grey: #575756;
$grey1: rgba(40,40,40,.6);
$grey2: rgba(40,40,40,.8);
$grey3: rgba(40,40,40,.4);
$grey4: rgba(40,40,40,.9);
$backgroundGrey: #3E3E3E;
$margin: 16px;
$borderWidthDetail: 13px;
$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 15px;
$color-hamburger : $green;
* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background: $black;
    width: 100vw;
    white-space:nowrap;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 7rem;
    display: block;
}
.titel {
   transition: 0; 
}
.skyline {
    display: none;
}
.start_div {
  	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.explore {
    background-color: transparent;
    font-family: "Raleway";
    color: $backgroundGrey;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0.5rem;
    width: 50vw;
    margin: 5vh auto;
    display: block;
    text-align: center;
    opacity: .6;
    transition: .9s;
}
.explore:hover {
    opacity: 1;
    transition: .2s;
}
.explore:hover {
  opacity: 1;
  transition: .2s; }
.blocks {
  position: relative;
  bottom: 0;
  background-color: black;
}
.blocks li {
    list-style: none;
    float: left;
    width: 50vw;
    margin: 0;
    height: 29vh;
    text-align: center;
    line-height: 29vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.blocks li:nth-child(1n+0){
  background-color: $grey1;
}
.blocks li:nth-child(2){
  background-color: $grey2; 
}
.blocks li:nth-child(3n+0){
  background-color: $grey3; 
}
.blocks a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 7vw;
    font-family: "Oswald";
    transition: .3s;
    border-top: 0px solid white;
    border-bottom: 0px solid white;
}
.blocks ul li a:hover{
    transition: .3s;
    letter-spacing: .1rem;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.toplogo {
    position: absolute;
    top: 2vh;
    height: 10vh;
    left: 45%;
    width: 70vw;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}
.fa-bars{
    color: $black;
}
.titel {
    display: block;
    position: relative;
    padding: 2vh 0;
    font-family: "Oswald";
    color: $black;
    z-index: inherit;
    background-color: white;
    text-align: center;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    letter-spacing: 0;
    z-index: -30;
    font-size: 6vh;
    text-transform: uppercase;
}
div.food_global ul.detailFood li {
    border-radius: 100%;
    position: relative;
    float: center; 
    margin: 30vh auto 50vh;
    color: $black;
    border: solid $borderWidthDetail black;
    background-color: $grey1;
    line-height: 40rem;
}
div.food_global {
    position: relative;
}
div.food_global ul.detailFood li a {
    color: $black;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 1.8rem;
    padding: 3px;
    border: solid $black $borderWidthDetail;
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $black;
    z-index: 100000;
}
nav ul {
    position: absolute;
    background: $grey2;
    bottom: 0;
    top: 13vh;
    left: 0;
    right: 0;
    padding: 3vh 16vw;
}
nav ul li {
    list-style: none;
}
nav ul a {
    text-decoration: none; 
    font-family: "Oswald",sans-serif;
    font-size: 8vh;
    line-height: 13vh;
    padding: 0 10vw;
    margin: 3vh 0;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
//Discover

.gravensteen{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.graslei{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.stadshal{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.STAM{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.korenmarkt{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.SintPieters{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}


//Food 

.fastfood{
    background-image: url("../jpg/fastfood.jpg");
}
.ijs{
    background-image: url("../jpg/ijs.jpg");
}
.broodjes{
    background-image: url("../jpg/broodjes.jpg");
}
.dessert{
    background-image: url("../jpg/dessert.jpg");
}
.soep{
    background-image: url("../jpg/soep.jpg"); 
}
.restaurant{
    background-image: url("../jpg/restaurant.jpg");
}

//goOut

.dancing{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.concert{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.cafe{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.overpoort{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.overpoortBowling{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}
.museum{
    background-image: url('http://www.arrivalguides.com/s3/ag-images-eu/10/6e7407dba3cd45f12f7961d76fc721a9.jpg');
}


.menu {
    z-index: 3000;
    display: none;
} 
.menuClicked {
    z-index: 3000;
    display: block;
} 
.backMenu {
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -5;
}


.hamburger-menu {
	position: absolute;
    top: auto;
    left: auto;
    right: 6vw;
    bottom: auto;
    margin: 4vh 0 0;
    z-index: 999999999999999999999999999999;
    width: $bar-width;
	height: $bar-height + $bar-spacing*2;
	cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background:$color-hamburger;
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background:$color-hamburger;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background:$color-hamburger;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.slider {
    display: none;
}
#scroll_icon {
    display: none;
}
@media screen and (min-width: 650px) {
    nav ul {
        background: $grey2;
        padding: 0;
    }
    nav ul li {
        float: left;
        width: 50vw;
        height: 30vh;
        text-align: center;
        background-blend-mode: none;
    }
    nav ul a {
        line-height: 30vh;
        padding: auto;
        margin: auto;
        background-color: transparent;
    } 
    nav li:nth-child(1n+0){
        background-color: $grey;
    }
    nav li:nth-child(2){
        background-color: $grey4; 
    }
    nav li:nth-child(3n+0){
        background-color: $grey2; 
    }
    .backMenu {
        background-color: $grey3;
    }
}
@media screen and (min-width: 900px) {
    .menu {
        display: block;
        right: 0;
    }
    .toplogo {
        left: 10vw;
        width: 10rem;
    }
    .logo {
        width: 40rem;
        height: 15rem;
    }
    nav {
        bottom: 90vh;
        background-color: transparent;   
        right: 0;
    }
    nav ul {
        top: 3.5vh;
        background: transparent;
        height: 3rem;
        left: auto;
        padding: 0;
        right: 3vw;
        margin: 0;
        transition: 3s;
    }
    nav ul li {
        float: left;
        width: auto;
        height: 3rem;
        text-align: center;
        margin: 0;
        padding: 0 .3rem;
        background-color: transparent;        
    }
    nav ul a {
        background: $black;
        line-height: 3rem;
        padding: 2px 8px;
        font-size: 1.5rem;
        height: 3rem;
        width: 50vw;
        margin: 0;
        transition: .345s;
    } 
    nav ul a:hover {
        background: white;
        color: black;
        transition: .345s;
    } 
    .backMenu {
        background-color: white;
        display: none;
    }
    nav li:nth-child(1n+0){
        background-color: transparent;
    }
    nav li:nth-child(2){
        background-color: transparent; 
    }
    nav li:nth-child(3n+0){
        background-color: transparent; 
    }
    .titel {
        background-color: transparent;
        line-height: 100vh;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 6rem;
        color: transparent;
        transition: 3s;
    }
    body {
        background-color: $backgroundGrey;
    }
    .skyline {
        display: block;
        position: fixed;
        bottom: 0;
    }
    .blocks {
        position: absolute;
    }
    .blocks ul {
        position: absolute;
    }
    .blocks ul li {
        position: relative;
        width: 100vw;
        height: 100vh;
        text-align: left;
    }
    .blocks ul li a{
        line-height: 170vh;
        margin-left: 3rem;
        font-size: 600%;
        padding: 0 1rem;
        background-color: $black;
        border: 4px solid white;
        font-weight: 300;
        font-family: 'Raleway';
        transition: .3s;
 
    }
    .blocks ul li a:hover{
        background-color: $green;
        transition: .3s;
        color: black;
    }
    .skyline{
        bottom: -10rem;
        opacity: 0;
        z-index: -33333;
        transition: 8s;
    }
    .hamburger-menu {
        display: none;
    }
    div.background_titel{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: color-dodge;
        z-index: -999999933333333;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    body {
        overflow: scroll;
    }
    #scroll_icon {
        position: fixed;
        color: white;
        font-size: 3rem;
        width: 100vw;
        text-align: center;
        transition: .7s;
        z-index: 99999999999999999999999999999999999;
    }
    .slider {
        display: block;
    }
    .explore {
        width: 30vw;
    }

}