.detail_content {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  text-overflow: ellipsis;
  float: left;
  -webkit-box-shadow: -8px -14px 37px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px -14px 37px -30px rgba(0, 0, 0, 0.75);
  box-shadow: -8px -14px 37px -30px rgba(0, 0, 0, 0.75);
}

div.detail_startimg {
  width: 100vw;
  height: 100vh;
  background-image: url('https://visit.gent.be/sites/default/files/images-spot/gentverlicht_gent5_0.jpg');
  background-size: cover;
  position: relative;
  float: left;
  background-attachment: fixed;
  background-position: left center;
}

.titleLike {
  float: left;
  display: block;
  height: 4rem;
  width: 100vw;
  padding: 2rem 6vw 7rem;
  border-bottom: 2px solid black;
}

h1 {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 5rem;
  text-align: left;
  line-height: 6rem;
  width: 70vw;
}

.likebutton {
  text-align: left;
  float: left;
  line-height: 6rem;
  font-size: 6rem;
  color: #333;
  text-shadow: -2px -2px 16px rgba(150, 150, 150, 1);
  &:hover {
    color: #F48B94;
    transition: .323s;
  }
}

p {
  white-space: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2vw;
    font-family: "Oswald";
    transition: .3s;
    border-top: 0px solid white;
    border-bottom: 0px solid white;
  }
}