<html>
<head>
	<title>Ghentlemen | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="hamburger-menu">
		  <div class="bar"></div>	
	</div>
        <div>
        <nav class='menu'>
            <object>
                <embed class="topLogo" src="Svg/logo2.svg">
            </object>
            <div class="backMenu"></div>
            <ul>
                <li class="activity" ><a href="activity.html">activity</a></li>
                <li class="food" ><a href="food.html">food</a></li>
                <li class="goOut" ><a href="goOut.html">go out</a></li>
                <li class="discover" ><a href="discover.html">discover</a></li>
                <li class="fuel" ><a href="about.html">about</a></li>
                <li class="parking" ><a href="parking.html">parking</a></li>
            </ul>
        </nav>
        </div>
        <div class="titel">{{ page.title }}</div>

    {{ content }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/nav.js"></script>
</body>
</html>