body {
    background-color: rgba(24,24,24,.8);
}
span {
    font-weight: 900;
}
img {
    height: 100vh;
    width: auto;
    float: left;
    overflow: scroll;
    margin: 0;
    overflow-x: hidden;
}
.content_video {
    position: absolute;
    top: 100%;
    width: 30vw;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.nameTitle {
    float: left;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3rem;
    text-align: right;
    border: 3px solid white;
    position: fixed;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    z-index: 300000000;
    transform: translate(-50%, -50%) 

}
